$primary: darken(#455a64, 10);
$secondary: darken(#00bfa5, 5);
$dark: darken($primary, 10);
$black: #000;
$white: #fff;
$light: #eee;

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  font-family: "Quicksand";
  font-weight: 700;
  height: 100vh;

  background-image: url('../background.jpg');
  background-size: cover;
  color: $white;

  &:before {
    content:'';
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:-1;
    background-color: rgba($secondary, 0.95);
  }
}

a {
  color: $white;
  text-decoration: none;
}

span {
  margin-left: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 35px 45px;
  padding-bottom: 0;
}

.logo {
  font-weight: 700;
  font-size: 26px;
}

.nav {
  a {
    display: inline-block;
    background: darken($secondary, 20);
    padding: 15px;
    border-radius: 999px;
    margin-left: 20px;
    width: 150px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgba($black, 0.1);
    transition: background 0.2s ease;

    &:hover {
      background: darken($secondary, 20) !important;
    }

    &.disabled {
      background: darken($secondary, 10);
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  .box {
    background: darken($primary, 10);
    color: $white;
    border-radius: 5px;
    padding: 30px 40px;
    width: 450px;
    box-shadow: 0px 0px 25px 0px rgba($black, 0.2);
  }

  h1 {
    font-size: 28px;

    i {
      height: 50px;
      width: 50px;
      background: darken($primary, 5);
      color: $white;
      border-radius: 50%;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
      box-shadow: 0px 0px 15px 0px rgba($black, 0.1);
    }
  }

  .logic {
    position: relative;
    overflow: hidden;

    .owl-dots {
      display: none;
    }
  }

  section {
    display: inline-block;
    width: 370px;
    margin-right: 40px;
  }

  p.instructions {
     margin: 35px 0;
  }

  .inputs {
    margin-bottom: 15px;
  }

  .input {
    display: flex;
    width: 100%;
    margin-top: 20px;
    background: darken($primary, 5);
    padding: 20px 25px;
    border-radius: 5px;

    i {
      color: #777;
      margin-right: 15px;
    }
  }

  input {
    flex: 1;
    display: inline-block;
    background: inherit;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
  }

  li {
    position: relative;
    background: darken($primary, 5);
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    z-index: 2;
    cursor: move;

    display: flex;
    align-items: center;

    box-shadow: 0px 0px 15px 0px rgba($black, 0.1);

    &.sortable-ghost {
      visibility: hidden;
    }

    img {
      box-shadow: 0px 0px 15px 0px rgba($black, 0.1);
      border-radius: 5px;
      width: 45px !important;
    }

    p {
      font-size: 14px;
      margin-left: 20px;
      backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
      transform: translateZ(0);
    }

    a {
      position: absolute;
      right: 15px;
      background: $secondary;
      opacity: 0.4;
      height: 45px;
      width: 45px;
      line-height: 45px;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0px 0px 15px 0px rgba($black, 0.1);
      transition: opacity 0.2s ease;

      &:hover, &.play {
        opacity: 1;
      }
    }
  }

  a.next {
    position: relative;
    display: inline-block;
    background: $secondary;
    padding: 15px;
    border-radius: 999px;
    width: 150px;
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgba($black, 0.1);

    i {
      position: absolute;
      right: 30px;
    }

    span {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}
